# 최상위 설정 파일임을 명시
config.stopBubbling = true

# Checkstyle, SpotBugs 등이 Lombok 생성 코드를 검사하지 않도록 함
lombok.addLombokGeneratedAnnotation = true


lombok.addNullAnnotations = jspecify
lombok.copyableAnnotations += org.jspecify.annotations.Nullable
lombok.copyableAnnotations += org.jspecify.annotations.NonNull

# @Data 사용 금지
lombok.data.flagUsage = error
